Magic Site &mdash; Hello World<br />
<li><a href="<%= sails.getBaseurl() %>/card?sort=name">Full Card List</a></li>
<li><a href="<%= sails.getBaseurl() %>/set">Full Set List</a></li>
<li><a href="<%= sails.getBaseurl() %>/search">Search for a Card</a></li>