

    <div>
        <%  if (!data) { %>
            <hr>
            There are no users.
        <% } else { %>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <% if(req.session.authenticated) { %>
                    <th>Send Message</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
            <%_.each(data, function(user) { %>
                <tr>
                    <td>
                        <a href="/user/<%= user.id %>"><%= user.username %></a>
                    </td>
                    <td>
                        <%= user.forename %>
                    </td>
                    <td>
                        <%= user.surname %>
                    </td>
                    <% if(req.session.authenticated) { %>
                    <td>
                        <a href="#">Make a Friend!</a>
                    </td>
                    <% } %>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>