
    <div>
        <form role="form" action="/advancedSearch" method="post">
            Search for a Card: <input type="text" name="search" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>

    </div>
