img.cardImage {
    border:none;
    border-radius:13px;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
img.cardThumb {
    height: 75px;
}
.cardInfo {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .cardInfo {
        margin: 20px 0;
        width: 100%;
    }
    img.cardImage {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.wdgt-body {
    overflow: auto;
}
.listForm {
    clear: both;
}